<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chwtlk.myquizapplication">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginMenu" />
        <activity android:name=".MainMenu" />
        <activity android:name=".AddNewUser" />
        <activity android:name=".Quiz1" />
        <activity android:name=".Quiz2" />
        <activity android:name=".Quiz3" />
        <activity android:name=".Quiz4" />
        <activity android:name=".Quiz5" />
        <activity android:name=".ExamQuestion" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".VideoActivity"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>